<!-- Header global -->
<app-header></app-header>

<div class="menu-custom-container">
  <!-- Sección izquierda -->
  <div class="ingredients-section">
    <h2 class="title-lg">Crea un menú</h2>
    <p class="subtitle text-md ">Agrega tus ingredientes</p>

    <div class="ingredients-grid">
      <div class="ingredient-card">
        <img src="assets/images/ingredientes/ingrediente1.png" alt="Banano" />
        <button class="add-btn">+</button>
      </div>
      <div class="ingredient-card">
        <img src="assets/images/ingredientes/ingrediente2.png" alt="Blueberry" />
        <button class="add-btn">+</button>
      </div>
      <div class="ingredient-card">
        <img src="assets/images/ingredientes/ingrediente3.png" alt="Fresa" />
        <button class="add-btn">+</button>
      </div>
      <div class="ingredient-card">
        <img src="assets/images/ingredientes/ingrediente4.png" alt="Avena" />
        <button class="add-btn">+</button>
      </div>
      <div class="ingredient-card">
        <img src="assets/images/ingredientes/ingrediente5.png" alt="Yogurt" />
        <button class="add-btn">+</button>
      </div>
      <div class="ingredient-card">
        <img src="assets/images/ingredientes/ingrediente6.png" alt="Queso" />
        <button class="add-btn">+</button>
      </div>
    </div>
  </div>

    <!-- Sección derecha -->
    <div class="menu-section">

        <div class="menu-main-container">
        <h2 class="menu-title text-md" >Menú creado por ti</h2>
    
        <!-- Contenedor de cards -->
        <div class="menu-created-container">
            <div class="selected-ingredient">
            <img src="assets/images/ingredientes/ingrediente3.png" alt="Fresa" />
            <button class="remove-btn">×</button>
            </div>
            <div class="selected-ingredient">
            <img src="assets/images/ingredientes/ingrediente2.png" alt="Blueberry" />
            <button class="remove-btn">×</button>
            </div>
            <div class="selected-ingredient">
            <img src="assets/images/ingredientes/ingrediente4.png" alt="Avena" />
            <button class="remove-btn">×</button>
            </div>
        </div>
        <button class="create-btn text-button">Crear menú</button>
        </div>
    
    </div>
  
    <!-- Aportes y Tipo de menú -->
<div class="info-block">

    <h3 class="text-regular">Aportes de este plato</h3>
    <ul class="check-list">
      <li>✔</li>
      <li>✔</li>
      <li>✔</li>
      <li>✔</li>
      <li>✔</li>
    </ul>
  
    <h3 class="text-regular">Tipo de menú</h3>
    <div class="menu-type-container">
    <ul class="menu-type-list">
        <li>
            <div class="menu-item-label text-body"><span class="circle">D</span> Desayuno</div><input type="checkbox" checked />
        </li>
        <li>
            <div class="menu-item-label text-body"><span class="circle">A</span> Almuerzo</div><input type="checkbox" />
        </li>
        <li>
            <div class="menu-item-label text-body"><span class="circle">C</span> Cena</div><input type="checkbox" checked />
        </li>
        <li>
            <div class="menu-item-label text-body"><span class="circle">S</span> Snack</div><input type="checkbox" />
        </li>
        <li>
            <div class="menu-item-label text-body"><span class="circle">O</span> Otro</div><input type="checkbox" />
        </li>
    </ul>
    </div>
  
</div>

</div>
