:host {
    display: block;
    min-height: 100vh;  
    background-color: var(--red-25);  
    font-family: 'Roboto', sans-serif;
    padding: 20px;  
    box-sizing: border-box;
  }

  .hero-container {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;    
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
  }

  .hero-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('/assets/images/onboarding/Splash.png');
    background-size: cover;
    background-position: center;
    opacity: 0.5;  
    z-index: 0; 
  }
  
/* Wrapper del contenido (texto) */
.content-wrapper {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 60px;  
  }

  
  /* Texto principal */
  .main-text {
    color: var(--blue-600);
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  
  /* Botón inferior */
  .discover-button {
    position: relative;
    z-index: 1;
    padding: 18px 64px;
    color: white;
    background-color: var(--blue-600);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 40px; 
  }
  