<app-header></app-header>
<div class="menu-main-container">
  <main class="menu-content">
    <section class="preferences-section">
      <app-preferences-block></app-preferences-block>
    </section>
    <section class="ai-menu-section">
      <app-ai-menu></app-ai-menu>
    </section>
    <section class="nutri-check-section">
      <app-nutri-check-block></app-nutri-check-block>
    </section>
    <section class="main-actions-section">
      <app-main-actions></app-main-actions>
    </section>
  </main>
  <app-snack-sidebar></app-snack-sidebar>
</div>
