
/* Tipografía contenedor raíz del componente */
:host {
  display: block;
  min-height: 100vh;  
  background-color: #FFFAFA;  
  font-family: 'Roboto', sans-serif;
  padding: 20px;  
  box-sizing: border-box;
}

/* Contenedor principal que divide en columnas */
.main-section {
  display: flex;
  gap: 100px;   
  align-items: flex-start;
}

/* Columna izquierda con los carruseles */
.left-column {
  display: flex;
  flex-direction: column;
  gap: 40px; 
}


/* Contenedor del carrusel */
.carousel {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  overflow-x: auto;  
}

/* Contenedor de las cards */
.items {
  display: flex;
  gap: 36px;
}

/* Tamaño de las cards */
.meal-card {
  position: relative;
  flex: 0 0 266px;    
  height: 242px;     
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; 
}

/* Imagen dentro de la card */
.meal-card img {
  width: 100%;
  height: 100%;        
  object-fit: cover;   
  border-radius: 10px;
}

/* Contenido de la card */
.meal-card mat-card-content {
  position: absolute;        
  bottom: 8px;               
  left: 8px;                 
  right: 8px;                
  text-align: left;         
  color: white;             
  font-size: 32px;
  pointer-events: none;     
  background: rgba(0, 0, 0, 0.2);  
  padding: 4px 8px;          
  border-radius: 10px;        
}


/* Botones de navegación */
.nav-btn {
  background-color: #FFFAFA;
  border: none;
  font-size: 64px;
  cursor: pointer;
  height: 242px;  
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Carrusel de favoritos */
.favorites {
  display: flex;
  gap: 15px;
  padding-left: 40px;   
  overflow-x: auto;   
}


.fav-card {
  width: 266px;   
  height: 180px;     
  cursor: pointer;
  border-radius: 10px; 
  overflow: hidden;     
  position: relative;    
}

.fav-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;    
  border-radius: 10px;  
}

.favorites {
  display: flex;
  gap: 36px; 
}


/* Recomendados del día */
.recommended {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 0;
  padding-top: 40px;  
}


/* Cards de recomendados */
.rec-card {
  max-width: 350px;
  width: 100%;
  border-radius: 10px;  
  overflow: hidden;
}

/* Acciones dentro de las cards */
.rec-card mat-card-actions {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
}

/* Botón rojo tipo “Conocer más” */
.btn-know {
  background-color: #F14813;
  color: white;
  border-radius: 50px; 
  font-weight: 500;
  box-shadow: 0px 3px 1px -2px rgba(13, 6, 6, 0.2), 
              0px 2px 2px 0px rgba(0,0,0,0.14), 
              0px 1px 5px 0px rgba(0,0,0,0.12); 
}

.btn-know:hover {
  background-color: #F14813;  
}

/* Botón  “Siguiente” */
.btn-next {
  border: 1px solid #012735;
  color: #012735;
  border-radius: 50px;  
  background-color: transparent;
}

.btn-next:hover {
  background-color: rgba(25, 118, 210, 0.1);
}

/* Columna derecha */
.right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;  
  flex: 1;   
}

.feeling {
  margin-top: 0;  
}

.feeling-box {
  display: inline-block;
  background: #333;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 16px;
}
