<div class="home">
  <div class="main-section">
     <div class="left-column">
      <!-- Sección Crea tu plato -->
      <section class="section carousel-section">
        <h2>Crea tu plato</h2>
        <div class="carousel">
          <button class="nav-btn">‹</button>
          <div class="items">
            <mat-card class="meal-card">
              <img mat-card-image src="assets/images/home/platoFuerte.png" alt="Plato Fuerte" />
              <mat-card-content>Plato Fuerte</mat-card-content>
            </mat-card>
            <mat-card class="meal-card">
              <img mat-card-image src="assets/images/home/desayuno.png" alt="Desayuno" />
              <mat-card-content>Desayuno</mat-card-content>
            </mat-card>
            <mat-card class="meal-card">
              <img mat-card-image src="assets/images/home/Snack.png" alt="Snack" />
              <mat-card-content>Snack</mat-card-content>
            </mat-card>
          </div>
          <button class="nav-btn">›</button>
        </div>
      </section>

      <!-- Sección Favoritos -->
      <section class="section favorites-section">
        <h2>Favoritos</h2>
        <div class="favorites">
          <mat-card class="fav-card">
            <img mat-card-image src="assets/images/home/platoFavorito1.png" alt="Favorito 1" />
          </mat-card>
          <mat-card class="fav-card">
            <img mat-card-image src="assets/images/home/platoFavorito2.png" alt="Favorito 2" />
          </mat-card>
          <mat-card class="fav-card">
            <img mat-card-image src="assets/images/home/platoFavorito3.png" alt="Favorito 3" />
          </mat-card>
        </div>
      </section>
    </div>

    <!-- Sección Recomendados del día -->
    <section class="section recommended">
      <h2>Recomendados del día</h2>
      <h3>Alta nutrición</h3>
      <mat-card class="rec-card">
        <img
          mat-card-image
          src="assets/images/home/recomendadosDelDia.png"
          alt="Recomendado"
        />
        <mat-card-actions>
          <button mat-raised-button class="btn-know">Conocer más</button>
          <button mat-stroked-button class="btn-next">Siguiente</button>
        </mat-card-actions>
      </mat-card>
    </section>
  </div>
  <!-- Pregunta IA  -->
  <section class="section feeling">
    <div class="feeling-box">
      ¿Cómo te sientes hoy lunes?
    </div>
  </section>
</div>
