<app-header></app-header>
<div class="menus-wrapper">
  <div class="menus-header-row">
    <h1 class="menus-title">Mis Menús</h1>
    <div class="recommendation-row">
      <button class="recommend-btn" (click)="goToRecommendation()">
        Descubrir recomendación <span class="arrow">&rarr;</span>
      </button>
      <img src="/assets/images/aguacate.png" alt="Mascota" class="mascot-img">
    </div>
  </div>

  <section class="menus-section">
    <h2 class="menus-subtitle">Desayunos</h2>
    <div class="menus-grid">
      <img src="assets/images/desayunos/desayuno1.png" alt="Desayuno 1" class="menu-img">
      <img src="assets/images/desayunos/desayuno2.png" alt="Desayuno 2" class="menu-img">
      <img src="assets/images/desayunos/desayuno3.png" alt="Desayuno 3" class="menu-img">
      <img src="assets/images/desayunos/desayuno4.png" alt="Desayuno 4" class="menu-img">
      <img src="assets/images/desayunos/desayuno5.png" alt="Desayuno 5" class="menu-img">
    </div>
  </section>

  <section class="menus-section">
    <h2 class="menus-subtitle">Almuerzos</h2>
    <div class="menus-grid">
      <img src="assets/images/almuerzos/almuerzo1.png" alt="Almuerzo 1" class="menu-img">
      <img src="assets/images/almuerzos/almuerzo2.png" alt="Almuerzo 2" class="menu-img">
      <img src="assets/images/almuerzos/almuerzo3.png" alt="Almuerzo 3" class="menu-img">
      <img src="assets/images/almuerzos/almuerzo4.png" alt="Almuerzo 4" class="menu-img">
      <img src="assets/images/almuerzos/almuerzo5.png" alt="Almuerzo 5" class="menu-img">
    </div>
  </section>

  <section class="menus-section">
    <h2 class="menus-subtitle">Cenas</h2>
    <div class="menus-grid">
      <img src="assets/images/cenas/cena1.png" alt="Cena 1" class="menu-img">
      <img src="assets/images/cenas/cena2.png" alt="Cena 2" class="menu-img">
      <img src="assets/images/cenas/Cena3.png" alt="Cena 3" class="menu-img">
      <img src="assets/images/cenas/Cena4.png" alt="Cena 4" class="menu-img">
      <img src="assets/images/cenas/Cena5.png" alt="Cena 5" class="menu-img">
    </div>
  </section>
</div>